<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">Pricing</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            Sofa - $110
            <br/>
            Sectional (depending on size) - $150 - $250
            <br/>
            3 Pieces U shape - $300
            <br/>
            Love seat - $80
            <br/>
            Chais Lounge - $70
            <br/>
            Mattress (depending on size) - $50 - $130
            <br/>
            Carpet cleaning per room - $40
            <br/>
            Walk in closet - $10 - $15
            <br/>
            Hallway - $40 - $45
            <br/>
            Staircase (up to 15 stairs) - $65
            <br/>
            Dining chair (seat only) - $10
            <br/>
            Dining chair (seat & back) - $20
            <br/>
            Dining chair (fully upholstered) - $30
            <br/>
            Area rugs (depending on size) - $50 - $150
            <br/>
            Commercial truck cabin - $350
            <br/>
            <br/>

            Enzyme treatment (sanitize, deodorize and odor removal) is included in all visits for FREE
        </p>
    </div>
    <div class="card-footer text-body-secondary">
        Minimum visit - $150
    </div>
</div>


<style></style>
