<div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-4 col-md-3 mb-3">
                <h5>
                    <b>Steam Kingz Pro</b>
                </h5>
                <ul class="nav flex-column">
                    <i class="bi bi-telephone">
                        (647)335-1208</i>
                    <i class="bi bi-envelope">
                        steamkingzpro@gmail.com</i>
                    <i class="bi bi-geo-alt">
                        1263 Melton Drive, Mississagua, ON</i>
                </ul>
            </div>

            <div class="col-4 col-md-3 mb-3"></div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-subscribe" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>© 2024 Steam Kingz</p>
                </div>
            </div>
        </footer>
    </div>


    <style>
        .btn-subscribe {
            background-color: #88AB8E;
            color: #fff;
            border-color: #88AB8E;
        }
        .btn-subscribe:hover {
            background-color: #AFC8AD;
            color: #fff;
            border-color: #AFC8AD;
        }
    </style>
